# Ensure we don't check in local stuff, where we put our
# keys and whatnot.
**/.localrc
**/.local_aliases
**/.local_profile
**/.gitconfig.local

# Stuff that's created & symlinked by home-manager
linux/.config/environment.d/*-home-manager.conf
linux/.config/fontconfig/conf.d/*-hm-fonts.conf
linux/.config/fontconfig/conf.d/*-hm-default-fonts.conf

# Obvious reasons for ignoring these
**/.gnupg/
**/.ssh/
!**/.ssh/config

# Tool-related stuff that can have keys
**/.aws/
**/.kube/

# Stuff there's just no reason to ever check in
**/.nvm/
**/.pyenv/

# Don't check in automatically applied customizations.
# If it's going to stick it needs to be in config.el
all/.doom.d/custom.el

# nix output symlinks
**/result
