[commit]
	gpgsign = true
[user]
	email = msplanchard@gmail.com
	name = Matthew Planchard
[includeIf "gitdir:~/s/gh/spectrust/**"]
	path = ~/.gitconfig.spectrust
[include]
	path = ~/.gitconfig.local
[github]
	user = mplanchard
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[ineractive]
	diffFilter = delta --color-only
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
