.box-bin { }

.button-box {
    spacing: 2px;
}

.window-button {
    width: 24px;
    height: 27px;
}

.minimize {
    background-image: url("window-minimize-dark.png");
}

.minimize:hover {
    background-image: url("window-minimize-active-dark.png");
}

.minimize:active {
    background-image: url("window-minimize-backdrop-dark.png");
}

.maximize {
    background-image: url("window-maximize-dark.png");
}

.maximize:hover {
    background-image: url("window-maximize-active-dark.png");
}

.maximize:active {
    background-image: url("window-maximize-backdrop-dark.png");
}

.close {
    background-image: url("window-close-dark.png");
}

.close:hover {
    background-image: url("window-close-active-dark.png");
}

.close:active {
    background-image: url("window-close-backdrop-dark.png");
}
